
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>@ViewBag.Greeting Hola mundo</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        @Html.ActionLink("RSVP Now", "RsvpForm")
    </div>
</body>
</html>
