<!DOCTYPE html>
<html ng-app="diveLog">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <environment names="Development, Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" />
    </environment>
</head>
<body>
    <div class="container" ng-controller="diveLogCtrl">
        @RenderBody()
    </div>
    <environment names="Development, Production">
        <script src="~/lib/angular/angular.min.js" type="text/javascript"></script>
        <script src="bundle.js" type="text/javascript"></script>
    </environment>
</body>
</html>